html, body {
  height: 100%;
  background-image: url("https://media.discordapp.net/attachments/356921848400707585/534197634987196438/20170514_062748.jpg?width=1248&height=703");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  }

.navbar {
    position: fixed !important;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    width: 1110px;
}

.viewport {
  height: 100%;
  width: 100%;
}

#project-title {
  font-weight: bold;
}

#document-title {
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
}

.jumbotron {
  min-height: 100vh;
  background-color: rgba(0,0,0,0.8);

}

#social_media, #projects, #about_me, #title {
  font-size: 1.25em;
  text-align: center;
}

#about_mamobooks {
  font-size: 1.25em;
  text-align: left;
}

#header {
  text-shadow: 2px 2px rgb(23, 170, 130);
}

.card-text {
  text-align: left;
}

.card {
  background-color: rgba(0,0,0,0.7);
}

.card:hover{
  background-color: rgba(0,0,0,0.1);
}

.welcome {
  position: fixed;
  height: 100vh;
  font-size: 0;
}

.center-row-header {
  padding-left: 3.3em;
  padding-bottom: .5em;
}

#myCanvas {
  background-color: rgba(0,0,0,1.0);
}

#healthqlogo {
  height: 158px;
  width: 130px;
}

#mamobookslogo {
  height: 158px;
  width: 158px;
}

#healthqtech, #carouselMamoBooksPics {
  height: 373px;
  width: 418px;
  background-color: rgba(0,0,0,0.7);
}

#healthq-desc, #mamobooks-desc, #wto-desc {
  font-size: 1.2em;
}

#icon-small {
  height: 80px;
  width: 60px;
}

#carouselMamoBooksPics {
  width: 60em;
  height: 38.18em;
  /*border-width:2px 2px 2px 4px !important;*/
}

.carousel-text {
  font-size: 1.2em;
  color: white;
  background-color: rgba(0,0,0,0.7);
  width: 11em;
  font-weight: bold;
  text-align: center;
}

.carousel-control-prev {
  margin-left: -90px;
  color: black;
}
.carousel-control-next {
  margin-right: -90px;
  color: black;
}

#carousel-buttons {
  text-decoration: none;
  color: white;
}

#wtologo {
  background-color: rgba(0,0,0,1.0);
  padding: 1em;
}

#wtobanner {
  height: 100%;
  width: 100%;
}

/*media queries*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 768px) {

#healthqtech {
  height: 20em;
  width: 20em;
  justify-content: center;
}

.navbar{
  width: 100%;
}

#carouselMamoBooksPics, #screenshot-container, .img {
  width: 100%;
  height: 100%;
}

#doc {
  font-size: 75%;
}

.center-row-header {
  padding: 1em;
  justify-content: center;
  margin-left: 1em;
}

.carousel-control-prev {
  margin-left: -160px;
  color: black;
  height: 120%;
  width: 120%;
}
.carousel-control-next {
  margin-right: -160px;
  color: black;
  height: 120%;
  width: 120%;
}

#wtobanner {
  height: 150%;
  width: 100%;
}

#mobile-buffer {
  padding-top: 8em;
}

#mobile-buffer2 {
  padding-top: 3em;
}

#wto-desc{
  padding-left: 4em;
}

#wtologo {
  height: 100%;
  width: 100%;
}

#imgcol {
    width: 100%;
}

#myCanvas {
  height: 100%;
  width: 100%;
}

}

@media only screen and (max-device-width : 768px) and (orientation : landscape) {
  #wtobanner {
    height: 100%;
    width: 100%;
  }

  #mobile-buffer {
    padding-top: auto;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #wtobanner {
    height: 100%;
    width: 100%;
  }

  #mobile-buffer {
    padding-top: auto;
  }
}
