html, body {
  height: 100%;
  background-image: url("https://media.discordapp.net/attachments/356921848400707585/534197634987196438/20170514_062748.jpg?width=1248&height=703");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  }

.navbar {
    position: fixed !important;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    width: 1110px;
}

.viewport {
  height: 100%;
  width: 100%;
}

#project-title {
  font-weight: bold;
}

.jumbotron {
  min-height: 100vh;
  background-color: rgba(0,0,0,0.8);

}

#social_media, #projects, #about_me, #title {
  font-size: 1.25em;
  text-align: center;

}

#header {
  text-shadow: 2px 2px rgb(23, 170, 130);
}

.card-text {
  text-align: left;
}

.card {
  background-color: rgba(0,0,0,0.7);
}

.card:hover{
  background-color: rgba(0,0,0,0.1);
}

.welcome {
  position: fixed;
  height: 100vh;
  font-size: 0;
}

#myCanvas {
  background-color: rgba(0,0,0,1.0);
}
